.fix {
    text-align: left;
}
table {
    border: 2px solid gray;
}
td:hover {
    background-color: green;
    color: black;
}
tr, th {
    background-color: black;
    color:burlywood
}
tr, td {
    background-color: darkslategray;
    color:white
}