h1 {
    font-family:'Times New Roman', Times, serif
}

h2 {
    font-family:'Times New Roman', Times, serif
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}

input {
    width: 50%;
    margin: 8px;
    box-sizing: border-box;
    border: 2px black;
    border-radius: 4px;
}